* {
  font-family: "Open Sans", sans-serif;
}

.app {
  height: 100%;
  box-sizing: border-box;
}

.dayhours {
  width: calc(100% - 40px);
  height: 200px;
  border-radius: 25px 0 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 25px 40px;
  background-color: #76affd;
  overflow-x: scroll;
}

.dayhours > .hourly {
  margin-left: 15px;
}

.dayhours > .hourly:first-child {
  margin-left: 30px;
}

.header {
  padding: 2vh 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h1,
.header p {
  margin: 0;
  color: #fff;
  font-size: 32px;
}

.header p {
  font-size: 14px;
}

.todayWeather {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6vh 0;
}

.todayWeather__prognos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.todayWeather__prognos img {
  margin: 0;
  width: 100px;
  height: 100px;
}

.todayWeather__prognos p {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
}

.todayWeather h2 {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding-left: 10px;
}

.today_moredays {
  margin: 5vh 40px 5px;
}

.today_moredays a {
  text-decoration: none;
  font-size: 18px;
}

.today_moredays a:checked {
  background-color: transparent;
}

.today_moredays a:first-child {
  color: #fff;
  margin-right: 20px;
}

.today_moredays a:last-child {
  color: #bcbcbc;
  margin-right: 20px;
}

.toggle-radio > input {
  display: none;
}

.toggle-radio .switch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

label[for="Today"],
label[for="Days"] {
  font-size: 18px;
  color: #bcbcbc;
}

#Today:checked ~ .switch label[for="Today"],
#Days:checked ~ .switch label[for="Days"] {
  color: #fff;
}
